<h1>Android School App</h1>
<p>Hola, si ven esto es por que estan accediendo por un GET de HTTP a <%= @host %></p>

<p>Sitios de interes:</p>
<ul>
  <li><a href="<%= todos_url %>">TODOS</a></li>
  <li><a href="<%= new_todo_path %>">CREAR UN TODO</a></li>
</ul>
