<h1>Todo List</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

  <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= link_to 'Show', todo_path(todo) %></td>
      </tr>
  <% end %>
</table>